<section>
    <div class="container">
        <h1 class="text-center"> Admin</h1>

        <section>
            <div class="whiteTable">
                <label><i style='font-size:16px' class='fas'>&#xf1b9;</i><b>Car Park Users</b> <i id="movingCarGreen" style='font-size:24px' class='fas'>&#xf5e4;</i> </label>

                


                <p> <i style="font-size:16px" class="fa">&#xf05a;</i>
                    To Edit/Delete, select a row and press the corresponding button</p>

                <div id="whiteListGrid" class="ag-theme-balham table"></div>
                <button id="addBtnW" class="btn btn-success" ng-click="addW()"> <i style='font-size:16px' class='fas'>&#xf067;</i></button>
                <button id="editBtnW" class="btn btn-secondary" ng-click="editW()" disabled> <i style='font-size:16px' class='fas'>&#xf303;</i></button>
                <button id="deleteBtnW" class="btn btn-danger" ng-click="deleteW()" disabled><i style='font-size:16px' class='fas'>&#xf2ed;</i></button>
                <button id="suspiciousBtn" style="float: right" class="btn btn-warning" ng-click="suspicious()"
                    disabled> <i style='font-size:16px' class='fas'>&#xf21b;</i>
                </button>

                <div id="addModalW" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/whiteList/add.html'"></article>
                    </div>
                </div>

                <div id="editModalW" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/whiteList/edit.html'"></article>
                    </div>
                </div>

                <div id="deleteModalW" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/whiteList/delete.html'"></article>
                    </div>
                </div>

                <div id="suspiciousModal" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/whiteList/suspicious.html'">
                        </article>
                    </div>
                </div>

            </div>

            <hr>

            <div class="blackTable">
                <label><i style='font-size:16px' class='fas'>&#xf5e1;</i><b>Car Park Black List</b> <i id="movingCarRed" style='font-size:24px' class='fas'>&#xf5e4;</i> </label>

                <p> <i style="font-size:16px" class="fa">&#xf05a;</i>
                    To Edit/Delete, select a row and press the corresponding button</p>

                <div id="blackListGrid" class="ag-theme-balham table"></div>
                <button id="addBtnB" class="btn btn-success" ng-click="addB()"><i style='font-size:16px' class='fas'>&#xf067;</i></button>
                <button id="editBtnB" class="btn btn-secondary" ng-click="editB()" disabled><i style='font-size:16px' class='fas'>&#xf303;</i></button>
                <button id="deleteBtnB" class="btn btn-danger" ng-click="deleteB()" disabled><i style='font-size:16px' class='fas'>&#xf2ed;</i></button>

                <div id="addModalB" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/blackList/add.html'"></article>
                    </div>
                </div>

                <div id="editModalB" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/blackList/edit.html'"></article>
                    </div>
                </div>

                <div id="deleteModalB" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/blackList/delete.html'"></article>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>

<br>