<section>
    <div class="container">
        <h1 class="text-center"> Admin</h1>
        <hr>

        <section>
            <div class="whiteTable">
                <label><span class="glyphicon">&#xe008;</span><b>Car Park Users</b></label>

                <p> <span class="glyphicon">&#xe086;</span>
                    To Edit/Delete, select a row and press the corresponding button</p>

                <div id="whiteListGrid" class="ag-theme-balham table"></div>
                <button id="addBtnW" class="btn btn-success" ng-click="addW()"> <span
                        class="glyphicon icon">&#x2b;</span></button>
                <button id="editBtnW" class="btn btn-secondary" ng-click="editW()" disabled> <span
                        class="glyphicon icon">&#x270f;</span></button>
                <button id="deleteBtnW" class="btn btn-danger" ng-click="deleteW()" disabled><span
                        class="glyphicon icon">&#xe020;</span></button>
                <button id="suspiciousBtn" style="float: right" class="btn btn-warning" ng-click="suspicious()" disabled><span
                    class="glyphicon icon">&#xe107;</span></button>

                <div id="addModalW" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/whiteList/add.html'"></article>
                    </div>
                </div>

                <div id="editModalW" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/whiteList/edit.html'"></article>
                    </div>
                </div>

                <div id="deleteModalW" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/whiteList/delete.html'"></article>
                    </div>
                </div>

                <div id="suspiciousModal" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/whiteList/suspicious.html'"></article>
                    </div>
                </div>

            </div>

            <hr>

            <div class="blackTable">
                <label><span class="glyphicon">&#xe090;</span><b>Car Park Black List</b></label>

                <p> <span class="glyphicon">&#xe086;</span>
                    To Edit/Delete, select a row and press the corresponding button</p>

                <div id="blackListGrid" class="ag-theme-balham table"></div>
                <button id="addBtnB" class="btn btn-success" ng-click="addB()"><span
                        class="glyphicon icon">&#x2b;</span></button>
                <button id="editBtnB" class="btn btn-secondary" ng-click="editB()" disabled><span
                        class="glyphicon icon">&#x270f;</span></button>
                <button id="deleteBtnB" class="btn btn-danger" ng-click="deleteB()" disabled><span
                        class="glyphicon icon">&#xe020;</span></button>

                <div id="addModalB" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/blackList/add.html'"></article>
                    </div>
                </div>

                <div id="editModalB" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/blackList/edit.html'"></article>
                    </div>
                </div>

                <div id="deleteModalB" class="modal">
                    <div class="modal-content">
                        <article data-ng-include="'js/partials/admin/modal/carPark/blackList/delete.html'"></article>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>

<br>
