<section>
  <div class="container">
    <h1 class="text-center">Admin</h1>
    <label><b>White List</b></label>
    <div id="whiteListGrid" class="ag-theme-balham table"></div>
    <button ng-click="addW()">Add</button>
    <button ng-click="editW()">Edit</button>
    <button ng-click="deleteW()">Delete</button>

    <br>
    <hr>
    <br>
    <label><b>Black List</b></label>
    <div id="blackListGrid" class="ag-theme-balham table"></div>
    <button ng-click="addB()">Add</button>
    <button ng-click="editB()">Edit</button>
    <button ng-click="deleteB()">Delete</button>
  </div>
</section>