<div ng-controller="BusiestGuestDayModalController as $ctrl" class="modal-demo">
  <script type="text/ng-template" id="busiestGuestDayContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="busiestGuestDayTitle">Busiest Guest Day</h3>
    </div>
    <div class="modal-body" id="busiestGuestDayBody">
      <p class="input-group">
        <div>Start Date:</div>
        <div class="row">
          <div class="col-9">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.startDt" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" ng-change="$ctrl.getActivities()" ng-required="true" close-text="Close"  />
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.open1()"><i class="fas fa-calendar-week"></i></button>
          </div>
        </div>
      </p>
      <p class="input-group">
        <div>End Date:</div>
        <div class="row">
          <div class="col-9">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.endDt" is-open="$ctrl.popup2.opened" datepicker-options="$ctrl.dateOptions" ng-change="$ctrl.getActivities()" ng-required="true" close-text="Close"  />
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.open2()"><i class="fas fa-calendar-week"></i></button>
          </div>
        </div>
      </p>
        <canvas
        id="bar"
        class="chart chart-bar"
        chart-data="$ctrl.data"
        chart-labels="$ctrl.labels"
        chart-series="$ctrl.series"
      >
      </canvas>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    </div>
  </script>

  <button type="button" class="btn btn-secondary" ng-click="$ctrl.open('lg')">
    Busiest Guest Day
  </button>

  <div class="modal-parent"></div>
</div>
