<div ng-controller="CurrentlyParkedModalController as $cp" class="modal-demo">
  <script type="text/ng-template" id="currentlyParkedContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="currentlyParkedTitle">Currently Parked</h3>
    </div>
    <div class="modal-body" id="currentlyParkedBody">
      Here are the users that are currently parked in the car park
      <div id="cpGrid" class="ag-theme-balham table" ></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$cp.ok()">OK</button>

    </div>
  </script>

  <button
    type="button"
    class="btn btn-primary"
    style="margin-top: 1rem;"
    ng-click="$cp.open('lg')"
  >
    Currently Parked
  </button>

  <div class="modal-parent"></div>
</div>
