<div class="container">

    <section>
        <h1 class="text-center"><i class='fas'>&#xf46d;</i> Current Bookings</h1>
        
        <p> <i style="font-size:16px" class="fa">&#xf05a;</i>
            To Edit/Delete, select a row and press the corresponding button</p>

        <div id="currentBookings" class="ag-theme-balham table"></div>
        <button id="addBtnG" class="btn btn-success" ng-click="addG()"><i style='font-size:16px' class='fas'>&#xf067;</i></button>
        <button id="editBtnG" class="btn btn-secondary" ng-click="editG()" disabled><i style='font-size:16px' class='fas'>&#xf303;</i></button>
        <button id="deleteBtnG" class="btn btn-danger" ng-click="deleteG()" disabled><i style='font-size:16px' class='fas'>&#xf2ed;</i></button>

        <div id="addModalG" class="modal">
            <div class="modal-content">
                <article data-ng-include="'js/partials/guestBooking/modal/add.html'"></article>
            </div>
        </div>

        <div id="editModalG" class="modal">
            <div class="modal-content">
                <article data-ng-include="'js/partials/guestBooking/modal/edit.html'"></article>
            </div>
        </div>

        <div id="deleteModalG" class="modal">
            <div class="modal-content">
                <article data-ng-include="'js/partials/guestBooking/modal/delete.html'"></article>
            </div>
        </div>

    </section>

</div>