<section>
  <div class="container">
    <h1 class="text-center">Group Project</h1>
    <div class="text-center">
      This project was created by Michael Clayton , Jordan Marshall, Andrew
      Barnes, Alex Usherwood and Jack O'Carroll
    </div>
    <br />
    <div class="text-center">
      This site allows you to sign in as an Admin or a StandardUser, with Admins
      been given access to a CMS where they can update user information and
      generate reports. StandardUsers can register their car to get a temporary
      parking slot.
    </div>
  </div>
</section>
