<nav ng-if="displayNav != 'LoginController'" class="nav">
    <a class="nav-link active" href="#!/">Home <i style='font-size:16px' class='fas'>&#xf015;</i></a>
    <a class="nav-link" href="#!/admin" ng-if="userGroup == 1">Admin <i style='font-size:16px' class='fas'>&#xf4fe;</i></a>
    <a class="nav-link" href="#!/reports" ng-if="userGroup == 1">Reports <i style='font-size:16px' class='fas'>&#xf080;</i></a>
    <a class="nav-link" href="#!/guest-booking">Book Guest <i style='font-size:16px' class='fas'>&#xf500;</i></a>
    <a class="nav-link" href ng-click="logout()">Logout <i style='font-size:16px' class='fas'>&#xf2f6;</i></a>
</nav>