<form name="resetPasswordForm">

    <p *ngIf="message">{{message}}</p>

    <div class="input-group mb-3">
        <input type="text" name="username" class="form-control" ng-model="reset.username" placeholder="Enter Username"
            required />
        <div class="input-group-append" ng-click="showOldPassword()">
            <span class="input-group-text"><i style='font-size:16px' class='fas'>&#xf007;</i></span>
        </div>
    </div>

    <span ng-show="resetPasswordForm.username.$dirty && resetPasswordForm.username.$error.required">Username is
        required.</span>

    <br>

    <div class="input-group mb-3">
        <input type="{{inputTypeOld}}" name="oldPassword" class="form-control" ng-model="reset.oldPassword"
            placeholder="Enter Old Password" required />
        <div class="input-group-append" ng-click="showOldPassword()" style="cursor:pointer">
            <span ng-if="inputTypeOld == 'text'" class="input-group-text"><i style='font-size:16px'
                    class='fas'>&#xf070;</i></span>
            <span ng-if="inputTypeOld == 'password'" class="input-group-text"><i style='font-size:16px'
                    class='fas'>&#xf06e;</i></span>
        </div>
    </div>
    <span ng-show="resetPasswordForm.oldPassword.$dirty && resetPasswordForm.oldPassword.$error.required">Password is
        required.</span>

    <br>

    <div class="input-group mb-3">
        <input type="{{inputTypeNew}}" name="newPassword" class="form-control" ng-model="reset.newPassword"
            placeholder="Enter New Password" required />
        <div class="input-group-append" ng-click="showNewPassword()" style="cursor:pointer">
            <span ng-if="inputTypeNew == 'text'" class="input-group-text"><i style='font-size:16px'
                    class='fas'>&#xf070;</i></span>
            <span ng-if="inputTypeNew == 'password'" class="input-group-text"><i style='font-size:16px'
                    class='fas'>&#xf06e;</i></span>
        </div>
    </div>
    <span ng-show="resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$error.required">Password is
        required.</span>

    <br>

    <button type="button" class="btn btn-primary" ng-click="resetPasswordClose(true)"
        ng-disabled="resetPasswordForm.$invalid">Reset</button>
    <button type="button" class="btn btn-secondary otherOptionBtn" ng-click="resetPasswordClose(false)">Cancel</button>
</form>