<form name="resetPasswordForm">

    <p *ngIf="message">{{message}}</p>

    <input class="form-control" name="username" type="text" ng-model="reset.username"
    placeholder="Enter Username" required>
<span ng-show="resetPasswordForm.username.$dirty && resetPasswordForm.username.$error.required">Username is
    required.</span>

    <br>

    <div class="input-group">
        <input type="{{inputTypeOld}}" name="oldPassword" class="form-control" ng-model="reset.oldPassword"
            placeholder="Enter Old Password" required />
        <span class="input-group-addon" ng-click="showOldPassword()" style="cursor:pointer">
            <span class="{{showHideClassOld}}"></span>
        </span>
    </div>
    <span ng-show="resetPasswordForm.oldPassword.$dirty && resetPasswordForm.oldPassword.$error.required">Password is
        required.</span>

        <br>

    <div class="input-group">
        <input type="{{inputTypeNew}}" name="newPassword" class="form-control" ng-model="reset.newPassword"
            placeholder="Enter New Password" required />
        <span class="input-group-addon" ng-click="showNewPassword()" style="cursor:pointer">
            <span class="{{showHideClassNew}}"></span>
        </span>
    </div>
    <span ng-show="resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$error.required">Password is
        required.</span>

    <br>

    <button type="button" class="btn btn-primary" ng-click="resetPasswordClose(true)"
        ng-disabled="resetPasswordForm.$invalid">Reset</button>
    <button type="button" class="btn btn-secondary otherOptionBtn" ng-click="resetPasswordClose(false)">Cancel</button>
</form>